@import '../../../stylus/base/**'

.jobs
  background #fff
  border 1px solid #ccc
  margin 10px
  box-shadow 0 2px 5px rgba(0,0,0,.2)
  transition .3s all
  border-radius 3px
  &:hover
    box-shadow 0 0 0 1px rgba(#fff,.5), 0 5px 10px rgba(0,0,0,.3)
  .title
    font-size .8em
    font-weight normal
    color #666
    padding 15px
    margin 0
.job
  padding 20px 15px
  border-top 1px solid #ccc
  transition .3s all
  cursor pointer
  &:hover
    padding 30px 15px
    color color2
  a
    text-decoration none
    color #000
.job__photo
  margin 0
  &:after
    content ''
    clear both
    display table
  h1
    margin-bottom 10px
  h2
    font-size .8em
    color #666
  img, h2
    float left
  img
    margin-right 10px
