.job
  background #fff
  border 1px solid #ccc
  padding 10px
  margin 10px
.job__photo
  margin 0
  &:after
    content ''
    clear both
    display table
  img
    margin-right 10px
  img, h2
    float left
