.about
  background-color #fff
  border-radius 2px
  box-shadow 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2)
  margin 16px 0
  padding 24px
  font-size 14px
  white-space pre-wrap
  line-height: 20px
  h2
    color rgba(0,0,0,.9)
    font-size 20px
    font-weight 400
    line-height 1.4
