@import '../../../stylus/base/**'

.aside
  background #fff
  border 1px solid #ccc
  margin 10px
  article
    border-bottom 1px solid #ccc
  +tablet()
    width 30%
    float left
    position fixed
    left 0
.profile__photo
  width 100%
  height 70px
  background url('https://media.licdn.com/dms/image/C4D16AQH5J_OXxRhh1A/profile-displaybackgroundimage-shrink_350_1400/0?e=1543449600&v=beta&t=OT3v2SKEai_gCnTR5cGjUXdWoF0C_uG1xlYgQhN0usY') center no-repeat
  background-size cover
  margin 0
  box-sizing border-box
  display block
  position relative
  img
    border-radius 100%
    border 2px solid #fff
    box-shadow inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15)
    position absolute
    top 50%
    left calc(50% - 30px)
