@import '../../../stylus/base/**'

.aside
  animation 1.5s entry_content
  background #fff
  border 1px solid #ccc
  border-radius 3px
  box-shadow 0 2px 5px rgba(0,0,0,.2)
  margin 10px
  transition .3s all
  &:hover
    box-shadow 0 0 0 1px rgba(#fff,.5), 0 5px 10px rgba(0,0,0,.3)
  .profile
    cursor pointer
  article
    border-bottom 1px solid #ccc
  +tablet()
    float left
    left 0
    position fixed
    width 30%
  +desktop()
    width 20%

.connections
  font-size .9em
  padding 20px
  h1
    color #666
    font-weight bold
    margin-bottom 10px
    span
      color color2
      float right
  p
    color #333
    font-weight bold
.premium
  cursor pointer
  font-size .8em
  padding 20px
  text-align center
  transition .3s all
  user-select none
  &:hover
    background #c8b476 + 50
    p
      color #b29a53 - 100
      text-shadow 0 1px 2px #fff
      transform scale(1.3)
      &:before
        transform rotate(90deg)
  h1
    font-weight normal
    margin-bottom 10px
  p
    display inline-block
    font-weight bold
    position relative
    transition .3s all
    &:before
      background linear-gradient(-135deg, #c8b476 50%, #b29a53 50%)
      content ''
      display block
      height 10px
      left -20px
      position absolute
      transition .3s all
      width 10px
