@import '../../../stylus/base/**'

.footer
  background color1
  box-sizing border-box
  padding 50px
  text-align center
  width 100%
  a
    color #fff
    text-decoration none
    &:hover
      color color2 + 50
