@import '../../../stylus/base/**'

.footer
  animation 1.5s entry_content
  background color1
  box-shadow 0 -1px 0 .5px rgba(#fff, .5), 0 -6px 10px rgba(#000, .2)
  box-sizing border-box
  padding 50px
  text-align center
  width 100%
  a
    color #fff
    text-decoration none
    display flex
    align-items center
    justify-content center
    transition .3s color
    &:hover
      color color2 + 50
    .icon
      margin 0 10px
