@import '../../../stylus/base/**'

.header
  background color1
  color #fff
  padding 10px
  height 60px
  position fixed
  top 0
  left 0
  right 0
  z-index 9
  box-shadow 0 1px 0 .5px rgba(#fff, .5), 0 6px 10px rgba(#000, .2)
  display block
  box-sizing border-box

.logo
  transition .3s all
  cursor pointer
  font-size 0
  padding 0
  margin 0
  display inline-block
  transform scale(.7) translateY(-10px) translateX(-10px)
  float left
  &:hover
    transform scale(.8) translateY(-10px) translateX(-10px)
  &:active
    transform scale(.6) translateY(-10px) translateX(-10px)
