@import '../../../stylus/base/**'

.header
  background color1
  color #fff
  padding 10px

.logo
  transition .3s all
  cursor pointer
  font-size 0
  padding 0
  margin 0
  display inline-block
  transform scale(.7) translateY(-10px) translateX(-10px)
  float left
  &:hover
    transform scale(.8) translateY(-10px) translateX(-10px)
  &:active
    transform scale(.6) translateY(-10px) translateX(-10px)
