@import '../../../stylus/base/**'

.header
  background color1
  box-shadow 0 1px 0 .5px rgba(#fff, .5), 0 6px 10px rgba(#000, .2)
  box-sizing border-box
  color #fff
  display block
  height 60px
  left 0
  padding 10px
  position fixed
  right 0
  top 0
  z-index 9

.logo
  animation 1.5s entry_content
  cursor pointer
  display inline-block
  float left
  font-size 0
  margin 0
  padding 0
  transform scale(.7) translateY(-10px) translateX(-10px)
  transition .3s all
  &:hover
    transform scale(.8) translateY(-10px) translateX(-10px)
  &:active
    transform scale(.6) translateY(-10px) translateX(-10px)
  .icon
    &:first-of-type
      display none
      float left
      height 20px
      margin-right 20px
      transform translateY(60%)
      width 60px
      fill #fff
      +tablet()
        display block
