/* You can add global styles to this file, and also import other style files */

@import 'base/_reset'
@import 'base/**'

body
  font-family Arial
  margin 0
  padding 0

.page
  padding 2em
  max-width 1300px
  margin 0 auto
