@import '../../../stylus/base/**'

.feed
  display block
  +tablet()
    box-sizing border-box
    float right
    margin-right 20%
    padding 0 10px
    width 50%
  +desktop()
    margin-right 30%
.post
  background #fff
  border 1px solid #ccc
  border-radius 3px
  box-shadow 0 2px 5px rgba(0,0,0,.2)
  margin 10px
  padding 15px 15px 0
  transition .3s all
  &:hover
    box-shadow 0 0 0 1px rgba(#fff,.5), 0 5px 10px rgba(0,0,0,.3)
    .post__photo
      color color2
      img
        box-shadow 0 0 0 1px rgba(#fff,.5), 0 5px 10px rgba(0,0,0,.3)
  p
    font-size .9em
    line-height 1.3em
    &.likes
      clear both
      color #666
      display block
      font-size .8em
.post__photo
  margin 0
  h1
    margin-bottom 5px
    transition .3s all
  img
    border-radius 100%
    float left
    margin 0 10px 10px 0
    transition .3s all
.actions
  border-top 1px solid #eee
  margin 10px 0 13px
  padding-top 10px
  .btn
    background transparent
    border 0
    border-radius 4px
    color #666
    cursor pointer
    outline none
    padding 8px 10px
    transition .3s all
    &:hover,
    &:focus
      background rgba(color2, .1)
      color color2
      svg
        fill color2
    span
      display inline-block
      transform translateY(-5px)
    svg
      fill #666
      transition .3s all
.advertising
  background #ccc
  box-sizing border-box
  color #fff
  margin 0 10px
  padding 2px
  +tablet()
    float right
    position fixed
    right 0
    top 68px
    width 20%
  +desktop()
    width 30%
