<app-aside></app-aside>
<section class="feed">
  <app-post></app-post>
  <app-jobs></app-jobs>
  <article class="post" *ngFor="let post of feed">
    <figure class="post__photo">
      <img [src]="post.photo" [alt]="post.name" width="50">
      <h1>{{ post.name }}</h1>
    </figure>
    <p>{{ post.content }}</p>
    <p class="likes">{{ post.likes }} Likes</p>
    <div class="actions">
      <button class="btn" type="button" name="button">
        <svg width="20" height="20" preserveAspectRatio="xMinYMin meet">
          <path d="M11.6 7L9.7 3.8c-.3-.5-.5-1.1-.7-1.7L8.8 1H7c-1.1 0-2 .9-2 2v.4c0 .6.1 1.3.3 1.9l.2.7h-3C1.7 6 1 6.7 1 7.5c0 .4.1.7.4 1-.3.3-.4.6-.4 1 0 .5.3 1 .7 1.3-.1.2-.2.5-.2.7 0 .8.6 1.4 1.3 1.5-.1.3-.1.6 0 1 .2.6.9 1 1.5 1H7c.9 0 1.5-.1 2.1-.3l2.1-.7H14V7h-2.4zm-8.2 3.1L3 9.6c-.1-.2-.2-.4-.1-.7L3 8h5.1L7 4.7c-.1-.4-.1-.9-.1-1.3v-.3c0-.2.2-.4.4-.4h.1c.1.7.4 1.5.7 2L10.7 9H12v3h-.6l-2.5.8c-.4.1-.8.2-1.2.2H4.9c-.2 0-.4-.2-.5-.4l-.1-.5-.6-.5c-.2-.2-.4-.5-.3-.8v-.7z" class="small-icon"/>
        </svg>
        <span>Like</span>
      </button>
      <button class="btn" type="button" name="button">
        <svg viewBox="0 0 20 20" width="20px" height="20px" x="0" y="0" preserveAspectRatio="xMinYMin meet" focusable="false">
          <path d="M14,3H2A1,1,0,0,0,1,4v7a1,1,0,0,0,1,1h9l4,3V4A1,1,0,0,0,14,3ZM3,10V5H13v6.11L11.52,10H3ZM5,7h6V8H5V7Z"></path>
        </svg>
        <span>Comment</span>
      </button>
      <button class="btn" type="button" name="button">
        <svg width="20" height="20" preserveAspectRatio="xMinYMin meet">
          <path d="M15.7 7.3L9 1v4H7c-3.9 0-7 3.1-7 7v3h1.4c0-2.2 1.9-4 4.1-4H9v4l6.7-6.3c.4-.3.4-1 0-1.4zM11 10.6V9H5.6c-1.2 0-2.4.4-3.4 1.1C3.1 8.2 4.9 7 7 7h4V5.4L13.7 8 11 10.6z"/>
        </svg>
        <span>Share</span>
      </button>
    </div>
  </article>
  <article class="advertising">
    <a href="http://curriculo-gratis.firebaseapp.com" target="_blank">
      <img src="assets/curriculogratis.jpg" alt="Currículo Grátis" width="100%">
    </a>
  </article>
</section>
