@import '../../../stylus/base/**'

.nav__item
  text-decoration none
  color #fff
  padding 10px
  &:hover,
  &:focus,
  &:active
    .active-item
      fill #fff
  span
    transform translate(5px, -5px)
    display inline-block
  .active-item
    fill color1
    transition .3s all
  .profile
    border 1px solid #fff
    border-radius 100%
    transition .3s all
    &:hover
      box-shadow 0 0 0 1px color1, 0 0 10px 1px #fff
.nav__icon
  fill #fff
