@import '../../../stylus/base/**'

.btn.menu
  animation 1.5s entry_content
  background transparent
  border 0
  cursor pointer
  height 60px
  outline none
  position absolute
  right 0
  text-align center
  top 0
  transition .3s all
  width 100px
  z-index 9
  &:hover
    background color1 - 10
    svg
      transform rotate(90deg)
  &.active
    background color1 - 10
    svg
      transform rotate(-45deg) scale(.6)
  &:after
    background color1
    content ''
    display block
    height 100%
    left -10px
    position absolute
    top 0
    width 10px
  svg
    transition .3s all
    display inline-block
    fill #fff

.nav
  animation 1.5s entry_content
  background color1
  border-radius 0 0 0 6px
  box-shadow 0 1px 0 .5px rgba(#fff, .5), 0 0 10px 5px rgba(#000, .3)
  display block
  margin 0
  opacity 0
  padding 0
  position absolute
  right 0
  top 60px
  transform translateY(-150%)
  transition .3s all, transform 1s
  width 100px
  z-index 1
  &.active
    opacity 1
    transform translateY(0)
  +tablet()
    height 60px
    &.show
      background transparent
      border-radius 0
      box-shadow none
      display inline-block
      float right
      opacity 1
      position relative
      right 0
      top -15px
      transform translateY(0)
      width auto

.nav__item
  color #fff
  display block
  opacity .8
  padding 9px 13px
  text-align center
  text-decoration none
  transition .3s all
  +tablet()
    display inline-block
  +desktop()
    padding 15px 30px
    span
      margin-left 10px
      transform translateY(-10px) !important
      display inline-block !important
  &:hover,
  &:focus,
  &:active
    background transparent
    border-radius 4px 0 0 4px
    box-shadow inset 0 3px 10px color1 + 10, 0 0 10px 3px color1 - 10
    opacity 1
    +tablet()
      border-radius 0
      box-shadow inset 0 3px 10px color1, inset 0 -3px 0 #fff, 0 0 10px 3px color1 - 10
    .profile
      box-shadow inset 0 3px 10px color1, 0 0 0 1px color1, 0 0 10px 1px #fff
    svg
      transform scale(1.15)
    .active-item
      fill #fff
  svg
    transition .3s all
    margin-bottom 5px
  span
    display block
    font-size .8em
  .active-item
    fill color1
    transition .3s all
  .profile
    border 1px solid #fff
    border-radius 100%
    margin-top 5px
    transform translateY(-5px)
    +tablet()
      margin-bottom 5px
      margin-top 0
      transform translateY(3px)
.nav__icon
  display block
  fill #fff
  transition .3s all
