@import '../../../stylus/base/**'

.nav
  float right
  margin 0
  padding 0
  transform translateY(-15px)
.nav__item
  color #fff
  display none
  opacity .8
  padding 9px 13px
  text-align center
  text-decoration none
  transition .3s all
  &:last-of-type
    display inline-block
  +tablet()
    display inline-block
  &:hover,
  &:focus,
  &:active
    opacity 1
    box-shadow inset 0 -3px 0 #fff
    .profile
      box-shadow 0 0 0 1px color1, 0 0 10px 1px #fff
    svg
      transform scale(1.15)
    .active-item
      fill #fff
  svg
    margin-bottom 5px
  span
    display block
    font-size .8em
  .active-item
    fill color1
    transition .3s all
  .profile
    border 1px solid #fff
    border-radius 100%
    margin-bottom 5px
    transform translateY(5px)
    transition .3s all
.nav__icon
  display block
  fill #fff
  transition .3s all
