@keyframes entry_content
  0%
    opacity 0
  100%
    opacity 1

@keyframes advertising
  0%
    transform rotate(0deg) scale(1)
    filter blur(2px)
  50%
    transform rotate(-5deg) scale(1.3)
  100%
    transform rotate(5deg) scale(1.3)

@keyframes profile
  0%
    transform rotate(0deg) scale(1)
  50%
    transform rotate(-5deg) scale(1.3)
  100%
    transform rotate(5deg) scale(1.3)

@keyframes profile_cover
  0%
    background-position center
  50%
    background-position top
  100%
    background-position bottom
