@import '../../../stylus/base/**'

.notfound
  animation 1.5s entry_content
  padding 2em
  text-align center
  h1
    color color2
    font-size 2em
    margin-bottom 10px
  p
    font-size 1.2em
  .btn
    border 1px solid color2
    border-radius 4px
    color color2 + 20
    display inline-block
    font-weight bold
    margin-top 20px
    padding 10px
    text-decoration none
    transition .3s all
    user-select none
    &:hover
      background rgba(color2, .1)
      box-shadow inset 0 0 0 2px color2
